:root {
  --blue: #0a142d;
  --orange: #ff7e00;
  --white: #ffffff;
  --big-headline-size: 24px;
  --big-headline-color: #ff7e00;
  --beer-headline-size: 18px;
  --beer-headline-color: #ffffff;
  --text-size: 14px;
  --text-color: #ffffff;
  --bg-img: url(static/29440531895_09f8f7f78c_k.jpg);
  --opacity-color: rgba(0, 0, 0, 0.6);
  --button-border: #ff7e00;
  --shadow: none;
  --button-color: transparent;
  --selected: #0a142d;
}

.light-mode {
  --big-headline-color: #ff7e00;
  --beer-headline-color: #0a142d;
  --text-color: #0a142d;
  --bg-img: #e0dfdf;
  --opacity-color: rgba(255, 255, 255, 1);
  --button-border: #0a142d;
  --shadow: 0px 3px 2px rgb(150, 150, 150);
  --selected: #ffffff;
}
/*DESCRIPTION page starts*/
/*@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: helvetica, sans-serif;
  font-size: var(--text);
}

input[type="number"] {
  -moz-appearance: textfield;
}

body {
  color: var(--text-color);
  transition: 0.4s;
}

.wrapper {
  /*overflow: hidden;*/
  background: var(--bg-img);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hidden {
  display: none;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 50px;
  transition: 0.4s;
  height: 100vh;
}

main > section {
  width: 100vw;
  overflow: auto;
}

header {
  background-color: var(--blue);
  width: 100vw;
  height: 50px;
  border-bottom: 1px solid gray;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 10;
}
.color-theme {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.color-theme .dark,
.color-theme .light {
  height: 18px;
  width: auto;
}
.switch {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 35px;
  margin-top: 15px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  border-radius: 25px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  background-color: var(--orange);
  height: 12px;
  width: 12px;
  border-radius: 25px;
  content: "";
  bottom: 4px;
  left: 4px;
  transition: 0.4s;
}

input:checked + .slider:before {
  transform: translateX(15px);
}
.logo {
  height: inherit;
}

.go-to-cart {
  position: relative;
  transition: 0.4s;
}
button.cart {
  position: relative;
  background-image: url(static/commerce-and-shopping.png);
  background-color: transparent;
  border: none;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: right;
  margin-top: 10px;
  width: 40px;
  height: 30px;
}

.number-of-orders {
  position: absolute;
  top: 10px;
  left: 0;
  background-color: var(--orange);
  text-align: center;
  font-size: 12px;
  width: 20px;
  height: 20px;
  padding: 2px;
  color: var(--white);
  border-radius: 25px;
}

.filters {
  padding-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.filters button {
  width: 25%;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 25px;
  border: solid 3px var(--button-border);
  background-color: var(--button-color);
  color: var(--text-color);
}

.filters .filter-active {
  background-color: var(--button-border);
  color: var(--selected);
  font-weight: bold;
}

.beer {
  background-color: var(--opacity-color);
  border: var(--opacity-border);
  box-shadow: var(--shadow);
  padding: 10px;
  border-radius: 15px;
  color: var(--text-color);
  display: grid;
  grid-template-columns: 25% 1fr 1fr;
  margin-bottom: 10px;
}

.beer-name {
  font-size: var(--beer-headline-size);
  color: var(--beer-headline-color);
}

.pic-price,
.name-desc-storage,
.input-add {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.amount {
  display: flex;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
}

.number {
  color: var(--text-color);
  background-color: transparent;
  border: none;
  text-align: center;
  width: 30px;
  padding: 5px;
}
.beer-logo {
  width: 80%;
  margin-bottom: 10px;
}

.small-beer {
  width: 15px;
  height: auto;
}

.more,
.less {
  cursor: pointer;
  border: none;
  background-color: var(--big-headline-color);
  color: var(--blue);
  font-weight: bold;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 25px;
}

button {
  border: solid 3px var(--orange);
  background-color: var(--orange);
  width: 30%;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 25px;
  color: var(--blue);
  font-weight: bold;
}
button.add-to-cart {
  width: 100%;
}
button.add-to-cart:disabled {
  background-color: transparent;
  color: var(--text-color);
  border: solid 3px var(--button-border);
}

.previous {
  margin-left: 10px;
  font-size: var(--big-headline-size);
}

.section {
  background-color: var(--opacity-color);
  margin: 20px 0 20px 0;
  padding: 10px 30px 10px 30px;
}

.row {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.orange-titles {
  color: var(--big-headline-color);
}

.description-title {
  display: flex;
  justify-content: space-between;
  margin: 30px 20px 5px 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--orange);
}

.orange-delete {
  color: var(--big-headline-color);
}

.description-total {
  display: flex;
  justify-content: space-between;
  margin: 30px 20px 30px 20px;
  padding-top: 10px;
  border-top: 2px solid var(--big-headline-color);
}

.proceed {
  display: block;
  margin: auto;
}

/*DESCRIPTION page ends*/

/* //////////////////////Andy///////////////////// */
.container {
  display: flex;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 30px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
  max-width: 100%;
}

.payment-info {
  padding: 20px 40px;
  border-bottom: 1px solid var(--orange);
  color: var(--orange);
}
.payment-info h1 {
  margin: 0;
}

form {
  width: 300px;
  margin: 20px auto;
}

label {
  height: 35px;
  position: relative;
  color: #8798ab;
  display: block;
  margin-top: 30px;
  margin-bottom: 20px;
}

label > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 300;
  line-height: 32px;
  color: #8798ab;
  border-bottom: 1px solid #586a82;
  transition: border-bottom-color 200ms ease-in-out;
  cursor: text;
  pointer-events: none;
}

label > span span {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0% 50%;
  transition: transform 200ms ease-in-out;
  cursor: text;
}

label .field.is-focused + span span,
label .field:not(.is-empty) + span span {
  transform: scale(0.68) translateY(-36px);
  cursor: default;
}

label .field.is-focused + span {
  border-bottom-color: #34d08c;
}

.field {
  background: transparent;
  font-weight: 300;
  border: 0;
  color: white;
  outline: none;
  cursor: text;
  display: block;
  width: 100%;
  line-height: 32px;
  padding-bottom: 3px;
  transition: opacity 200ms ease-in-out;
}

.field::-webkit-input-placeholder {
  color: #8898aa;
}
.field::-moz-placeholder {
  color: #8898aa;
}

/* IE doesn't show placeholders when empty+focused */
.field:-ms-input-placeholder {
  color: #424770;
}

.field.is-empty:not(.is-focused) {
  opacity: 0;
}

.outcome {
  float: left;
  width: 100%;
  padding-top: 8px;
  min-height: 20px;
  text-align: center;
}

.success,
.error {
  display: none;
  font-size: 15px;
}

.success.visible,
.error.visible {
  display: inline;
}

.error {
  color: #e4584c;
}

.success {
  color: #34d08c;
}

.success .token {
  font-weight: 500;
  font-size: 15px;
}
/* /...........Andy............... */

/*---MODAL STYLING FOR THE BEER DESCRIPTIONS---*/

.modalbg {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}

.modalcontainer {
  margin-top: 20vh;
  margin: 25vh 2vh 25vh 2vh;
  background-color: var(--white);
  height: 50vh;
}

.modalcontent {
  background-color: var(--white);
  margin: 15% auto;
  padding: 15px;
  width: 90%;
}

/* Exit from MODAL */
.exit {
  color: #333333;
  float: right;
  font-size: 40px;
  font-weight: bold;
}

.exit:hover,
.exit:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-beername {
  color: var(--blue);
  font-size: 40px;
}
