:root {
  --blue: #0a142d;
  --orange: #ff7e00;
  --white: #ffffff;
  --big-headline: 24px;
  --beer-headline: 18px;
  --text: 14px;
}
/*DESCRIPTION page starts*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: helvetica, sans-serif;
  font-size: var(--text);
}

input[type="number"] {
  -moz-appearance: textfield;
}

body {
  background-image: url(static/29440531895_09f8f7f78c_k.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

header {
  background-color: var(--blue);
  width: 100%;
  height: 50px;
  border-bottom: 1px solid gray;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.color-theme .dark,
.color-theme .light {
  height: 18px;
  width: auto;
}
.switch {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 35px;
  margin-top: 15px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  border-radius: 25px;
  transition: 0.4s;
  transition-delay: 0s;
}

.slider:before {
  position: absolute;
  background-color: var(--orange);
  height: 12px;
  width: 12px;
  border-radius: 25px;
  content: "";
  bottom: 4px;
  left: 4px;
  transition: 0.4s;
}
input:checked + .slider:before {
  transform: translateX(15px);
}
.logo {
  height: inherit;
}

.cart {
  background-image: url(static/commerce-and-shopping.png);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: right;
  margin-top: 10px;
  width: 40px;
  height: 30px;
}

.number-of-orders {
  background-color: var(--orange);
  text-align: center;
  font-size: 12px;
  width: 20px;
  height: 20px;
  padding: 2px;
  color: var(--white);
  border-radius: 25px;
}

.filters {
  padding-top: 70px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.filters button {
  width: 25%;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 25px;
  border: solid 3px var(--orange);
  background-color: var(--blue);
  color: var(--white);
}

.filters .filter-active {
  background-color: var(--orange);
  color: var(--blue);
  font-weight: bold;
}

.beer {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 15px;
  color: var(--white);
  display: grid;
  grid-template-columns: 25% 1fr 1fr;
  margin-bottom: 10px;
}

.beer-name {
  font-size: var(--beer-headline);
}

.pic-price,
.name-desc-storage,
.input-add {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.amount {
  margin-left: auto;
  margin-right: auto;
}

.number {
  color: var(--white);
  background-color: transparent;
  border: none;
  text-align: center;
}
.beer-logo {
  width: 90%;
  margin-bottom: 10px;
}

.more,
.less {
  cursor: pointer;
  border: none;
  background-color: var(--white);
  color: var(--blue);
  font-weight: bold;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 25px;
}

button.add-to-cart {
  border: solid 3px var(--orange);
  background-color: var(--orange);
  width: 100%;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 25px;
  color: var(--blue);
  font-weight: bold;
}

button.add-to-cart:disabled {
  background-color: transparent;
  color: var(--white);
}

html {
  background-image: url(static/background.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-family: "Poppins", sans-serif;
  color: white;
}

.app-logo {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 50px;
}

.bar-title {
  color: white;
  font-size: 50px;
}

.logo {
  max-width: 50px;
}

.section {
  background-color: rgb(44, 44, 44, 0.6);
  margin: 20px 0 20px 0;
  padding: 10px 30px 10px 30px;
}

.row {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.orange-titles {
  color: #ff7e00;
}

.description-title {
  display: flex;
  justify-content: space-between;
  margin: 30px 20px 5px 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #ff7e00;
}

.orange-delete {
  color: #ff7e00;
}

.description-total {
  display: flex;
  justify-content: space-between;
  margin: 30px 20px 5px 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #ff7e00;
}

button {
  border-radius: 25px;
  color: #ffffff;
  padding: 12px 25px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.5s ease;
  background-color: #ff7e00;
}

.proceed-button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.qty .count {
  color: #000;
  display: inline-block;
  vertical-align: top;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  padding: 0 2px;
  min-width: 35px;
  text-align: center;
}
.qty .plus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 30px;
  height: 30px;
  font: 30px/1 Arial, sans-serif;
  text-align: center;
  border-radius: 50%;
}
.qty .minus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 30px;
  height: 30px;
  font: 30px/1 Arial, sans-serif;
  text-align: center;
  border-radius: 50%;
  background-clip: padding-box;
}
#count-button {
  text-align: center;
}
.minus:hover {
  background-color: #717fe0 !important;
}
.plus:hover {
  background-color: #717fe0 !important;
}
/*Prevent text selection*/
span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
input {
  border: 0;
  width: 2%;
}
nput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:disabled {
  background-color: white;
}
/*DESCRIPTION page ends*/
